[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sqlitecpp"]
	path = external/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
